{% extends 'base.html.twig' %}

{% block title %}CV |
	{{ parent() }}
{% endblock %}

{% block nav %}
	<a href="/">
		Accueil
	</a>
	<a href="/Portfolio">
		Consulter le PortFolio
	</a>
{% endblock %}

{% block body %}
	<h1>CV</h1>
{% endblock %}
