{% extends 'base.html.twig' %}

{% block title %}CV |
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('style/cv.css') }}">
{% endblock %}

{% block nav %}
	<a href="/">
		Accueil
	</a>
	<a href="Portfolio">
		Voir le PortFolio
	</a>
{% endblock %}

{% block body %}
	<img src="images/cv.png" alt="">
{% endblock %}
