{% extends 'base.html.twig' %}

{% block title %}
	Home |
	{{ parent() }}
{% endblock %}

{% block nav %}
	<a href="/CV">
		Consulter le CV
	</a>
	<a href="Portfolio">
		Consulter le PortFolio
	</a>
{% endblock %}

{% block body %}
	<h1>Thomas Testaud</h1>
	<p>Développeur PHP Junior</p>
{% endblock %}
