body {
    background-color: #ec889a91;
}

.bg{
    opacity: 1;
}

nav a {
    color: white;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    margin: 5rem 0rem;
    width: 900px;
    max-width: 100%;
    
    animation: animatecv 2s forwards;
    
    position: relative;
    top: 40em;
    opacity: 0;
}


@keyframes animatecv {
    to {
        top: 0em;
        opacity: 0.9;
    }
    
}


@media (max-width: 1000px) {
    nav {
        top: 0rem;
        display: flex;
        flex-direction: row;
    }
}