body {
    background-color: #111111;
    transition: background-color 1s;
    overflow: hidden;
}



.white {
    background-color: #98745d;
}

.bg{
    opacity: .6;
}

a,
nav a {
    color: white;
}

.article-project {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

h2 {
    font-family: 'Climate Crisis', cursive;
    font-size: 4rem;
    opacity: .7;
}

p {
    font-size: 1.5rem;
    opacity: .5;
    font-weight: lighter;
    font-style: italic;
}


ul {
    /*margin-top: 5rem;*/
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    
}

li {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
    opacity: .7;
}


iframe {
    margin-left: 30%;
    height: 600px;
    width: 350px;
    frameborder: 0;
    border-radius: 1rem;
}

iframe::-webkit-scrollbar {
    display: none;
  }


.square {
    height: 500px;
    width: 500px;
}

.noscroll {
    overflow: hidden;
}

.scroll-down,
.scroll-up {
    position: absolute;
    left: 5vh;
    width: 90vw;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.6s;
    z-index: 1;
    text-align: center;
   }
   
   .scroll-down:hover,
   .scroll-up:hover {
    background-color: rgba(255, 255, 255, 0.2);
   }
   
   .scroll-down {
    bottom: 1em;
    cursor: pointer;
   
   }
   
   .scroll-up {
    top: 1em;
    cursor: pointer;
   }


   .project {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.project-el-1 { 
    grid-area: 1 / 1 / 4 / 2;
    top: -2rem;
    position: relative;
    width: 25em;
}

.project-el-1 div:nth-child(1){
    position: relative;
    left: -30%;
    top: -10rem;
    rotate: -0.1turn;
    opacity: 0;
}

.show .project-el-1 div:nth-child(1){
    animation: project 1s forwards;
}

.project-el-1 div:nth-child(2){
    position: relative;
    left: 0%;
    top: 0rem;
    rotate: 0.05turn;
    scale: 0.5;
    opacity: 0;
}

.show .project-el-1 div:nth-child(2){
    animation: project 1s 0.2s forwards;

}
.project-el-1 div:nth-child(3){
    position: relative;
    left: -10%;
    top: 20rem;
    rotate: 0.1turn;
    opacity: 0;
}
.show .project-el-1 div:nth-child(3){
    animation: project 1s 0.3s forwards;

}

.project-el-1 div:nth-child(4){
    position: relative;
    left: 0%;
    top: 2rem;
    rotate: 0turn;
    opacity: 0;
}

.show .project-el-1 div:nth-child(4){
    animation: project 1s 0.6s forwards;

}

.project-el-4 { 
    grid-area: 1 / 2 / 4 / 3; 
    position: relative;
    left: 80%;
    top: -10rem;
    opacity: 0;
    rotate: 0.1turn;
    scale: 0.6;
}


.show .project-el-4{
    
    animation: project 1s 0.2s forwards;
}

.prj-new-tab {
    position: absolute;
    padding: 0.6rem;
    top: -2rem;
    left: 2rem;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    transition: transform 0.5s;
    cursor: pointer;
    
}

.prj-new-tab:hover {
    transform: scale(1.2) rotate(360deg);
}




@keyframes project {
    to {
        left: 0%;
        top: 0rem;
        opacity: 1;
        rotate: 0turn;
        scale: 1;
    }
   }



.github-btn {
    position: relative;
    font-size: 25px;
}

.github-btn svg {
    height: 4em;
    width: 4em;
    position: absolute;
    right: -2rem;
    top: -3rem;
    color: white;
    opacity: 0.8;
    cursor: pointer;
}

.github-btn p {
    margin: 0px;
    position: absolute;
    text-align: center;
    width: 1em;
    padding-left: 0.5em;
    right: 0.15em;
    top: -3.6em;
    height: 7.5em;
    font-size: 0.8em;
    font-style: normal;
    font-weight: normal;
}

.round p {
    transform: rotate(0deg);
    animation: rotatee linear 15s infinite;
}

@keyframes rotatee {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
}

@media (max-width: 1200px) {
  
   
    h2 {
        overflow: wrap;
    }
    html {
        width: 100%;
        margin: auto;
    }
    main {
        width: 100%;
        margin: auto;
    }
    body {
        overflow: auto;
        width: 100%;
        margin: auto;
    }
    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0rem 5rem;
        width: 100%;
        margin: auto;
    }

    .article-project {
        height: auto;
        width: 100%;
        margin-bottom: 7rem;
    }

    iframe {
        margin-left: 0%;
        width: 100%;
        min-width: 100vw;
        border-radius: 3rem;
    }
    .square {
        height: 500px;
        min-width: 100vw;
    }

    .github-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0rem;
    }
    .github-btn svg {
        position: relative;
        top: 0;
        left: 0;
    }
    .github-btn p {
        top: -1.4rem;
        left: 46%;
    }

     .project-el-1 div:nth-child(1){
        animation: project 1s forwards;
    }
    
     .project-el-1 div:nth-child(2){
        animation: project 1s 0.2s forwards;
    
    }
    
    .project-el-1 div:nth-child(3){
        animation: project 1s 0.3s forwards;
    
    }
    
    .project-el-1 div:nth-child(4){
        animation: project 1s 0.6s forwards;
    
    }
   
    .project-el-4{
        
        animation: project 1s 0.2s forwards;
    }



   
    .scroll-down,
    .scroll-up {
        display: none;
    }
}


@media (max-width: 500px) {
    iframe {
        margin-left: 0%;
        width: 100%;
        min-width: 100vw;
        border-radius: 1rem;
    }
    .project-el-1 {
        max-width: 90%;
    }

    h2 {
        overflow: hidden;
        font-size: 2rem;
        text-align: center;
    }
    p {
        font-size: 1.5rem;
    }

    ul {
        font-size: 1.5rem;
    }

    
}