<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Thomas Testaud
			{% endblock %}

		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('style/main.css') }}">
		{% endblock %}
		<script src="https://kit.fontawesome.com/482cf5b577.js" crossorigin="anonymous"></script>

	</head>
	<body>
		<header>
			<nav>
				{% block nav %}{% endblock %}
			</nav>
		</header>
		<main>
			{% block body %}{% endblock %}
		</main>

	</body>
</html>
